<%- include('../partials/header') %>


<body>
    
<div class = "container">

<form action="/authenticate" method="POST" class = "form-group" id = "formLogin" style="margin-left: -40px; width: 530px; margin-top: 130px;">
    <a style="font-family: Gotham; font-size: 40px; margin-bottom: -10px;">Área de administrador</a> <br>
    <a style="font-family: Gotham light; font-size: 20px; color: rgba(0, 0, 0, 0.582); margin-top: -40px;"> Faça login para validar suas credenciais Nexum. </a>
    <input type="email" name = "email" autocomplete="off" class="form-control" required placeholder="Digite seu email" style="margin-top: 20px; font-size: 20px;">
    <input type="password" name = "password" class="form-control" required placeholder="Digite sua senha" style="margin-top: 10px; font-size: 20px;">
    <button type="submit" class="btn btn-primary" style="width: 200px; font-size: 20px;">Acessar</button>
</form>
<!-- <a style="font-family: Gotham light; font-size: 15px; color: rgba(0, 0, 0, 0.582); margin-left: -40px;"> Esqueci minha senha </a> -->
<div style="margin-top: -500px; margin-left: 500px; ">
    <img src="/img/wallpaper.png" alt="">
    <div class="alert alert-danger"  id = "error" role="alert" style="margin-top: -100px; width: 659px ;margin-left: -540px;">
        <a style="font-family: gotham;">Atenção:</a> <br>
        Nenhum administrador encontrado, informe as credenciais corretas e tente novamente.
        </div>
</div>


<br><br>

  
  <!-- Modal -->
  <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</body>

<script>

$(document).ready( () => {
  
  function changeBtnCollor(){
   $("#novoAdmin").attr("color","white");  
  }

})

</script>

<%- include('../partials/footer') %>