<%- include('../partials/header.ejs'); %>
<%- include('../partials/navbar.ejs'); %>

<body style="font-family: gotham;">
<br><h2 style="text-align: center; font-family: gotham;">Atenção:</h2><hr>

<br>
<div class = "container">

<div style="text-align: center;">
    <br><br><br><br><br>
    <h2 class = "alert alert-danger" style="font-family: gotham light;">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
          </svg>
          Nenhum imigrante cadastrado corresponde à este número de identificação.</h2>
</div>


</div>
</div>
</div>
</div>
<br><br><br><br><br><br>
<a style="margin-left: 430px; width: 500px; font-size: 20px; text-align: center;"  class = "btn btn-dark" href="/search/id" style="margin-left: 600; width: 500px; height: 50px; font-size: 25px;">
Back</a>
</div>
  



</body>

<%- include('../partials/footer.ejs'); %>