<%- include('../partials/header.ejs'); %>
<%- include('../partials/navbar.ejs'); %>

<body style="font-family: gotham;">
<div class = "container">

<br><h2 style="text-align: center; font-family: gotham;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
  </svg> Buscar por ID</h2><hr><br>
<form action="/people/search" method="post" style="width: 500px"><br><br>
<input autofocus class="form-control" required type="text" name="id" id="id" style = "font-size: 30px; margin-left: 320px; text-align: center;" placeholder="Informe o ID"><br>
<button class = "btn btn-success" type="submit"  style="margin-left: 320px; width: 500px; height: 50px; font-size: 22px;">Buscar</button><br>
<a class = "btn btn-dark" href="/" style=" margin-left: 320px; width: 500px; height: 50px; font-size: 22px; margin-top: 5px;">Voltar</a>
</form>
</div>

</body>
<%- include('../partials/footer.ejs'); %>