<%- include('../partials/header.ejs'); %>
<%- include('../partials/navbar.ejs'); %>

<body style="font-family: gotham;">
    
<div class = "container">
<h2 style="text-align: center; font-family: gotham;"><a href="/"> <br>
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="green" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.354 10.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
    </svg></a> Cadastrar imigrante</h2><hr>


<form action="/people/save" method="post" style="width: 500px">
<input class="form-control" required type="text" name="firstName" id="firstName" style = "font-size: 22px; margin-left: 320px;" placeholder="Name"><br>
<input class="form-control" required type="text" name="lastName" id="lastName" style = "font-size: 22px;  margin-left: 320px;" placeholder="Last name"><br>
<input class="form-control" required type="text" name="age" id="age" style = "font-size: 22px;  margin-left: 320px;" placeholder="Age"><br>
<input class="form-control" type="text" name="country" id="country" style = "font-size: 22px;  margin-left: 320px;" placeholder="Native country"><br>
<input class="form-control" type="text" name="motherLanguage" id="motherLanguage" style = "font-size: 22px;  margin-left: 320px;" placeholder="Mother Language"><br>
<select class="form-control" required name = "maritalStatus" id="maritalStatus" style = "font-size: 22px;  margin-left: 320px;"> 
  <option disabled selected>Marital Status</option>
  <option>Single</option>
  <option>Married</option>
  <option>Widower</option>
</select><br>
<select class="form-control" required name = "gender" id="gender" style = "font-size: 22px;  margin-left: 320px;"> 
    <option disabled selected>Gender</option>
    <option>Male</option>
    <option>Female</option>
  </select><br>
<button class = "btn btn-success" id = "btnCadastrar" type="submit" style="margin-left: 320px; width: 500px; height: 50px; font-size: 22px;">Register</button>
<br>
</form>
<br>

 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Do you want to delete this register?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       This deletion cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id = "btnDelete">Delete</button>
      </div>
    </div>
  </div>
</div>


</body>

<%- include('../partials/footer.ejs'); %>