body {
    background: white;
}

form {
font-size: 30px;
width: 50px;
font-family: Gotham light;
}

h2 {
text-align: center;
}

#formLogin {
    font-size: 55px;
    width: 600px;
    margin-left: 250px;
    margin-top: 85px;

}

#userLogged {
    margin-left: 740px;
}

#mainBG {
    background-color: chartreuse;
    height: 600px;
    width: 1100px;
    transform: skew(-15deg); /* Padrão */
    margin-left: -450px;
}

#formNews {
    transform: skew(15deg);
    width: 300px;
    font-size: 60px;
    font-family: Gotham;
    margin-left: 50px;
}

#formActions {
    transform: skew(15deg);
    font-size: 70px;
    font-family: Gotham;
    width: 300px;
    margin-top: -440px;
    margin-left: 1200px;
}

#imigrantesCompatíveis {
    width: 220px;
    margin-left: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: -50px;
    color: white;

}

#codeID {
    margin: 0;
    height: 50px;
}

.downNavbar { 
    background: rgb(1, 58, 10);
    height: 180px;
    align-items: center;
    text-align: center;
}

.spaceBetween {
    background: red;
    border-radius: 50px;

}

.peopleList {
   margin-top: 100px;
}

.card {
    margin-top: -58px;
    width: 750px;
    height: 350px;
    margin-left: 45vh;
    border-radius: 40px;
    box-shadow: 1px 10px 25px #888888;
}

.information {
    margin-left: 50px;
    margin-top: 5px;
}

.idBtn {
    background: green;
    color: white;
}

.btnCompatible {
    background: green;
    color: white;
    font-family: Gotham light;
    margin-top: 10px;
    border-radius: 10px
}

.cardGeneral {
    margin-top: -20px;
    width: 750px;
    height: 350px;
    margin-left: 45vh;
    border-radius: 40px;
    box-shadow: 1px 10px 25px #888888;

}

.cardProfile {
    margin-top: -20px;
    width: 850px;
    height: 450px;
    margin-left: 45vh;
    border-radius: 40px;
    box-shadow: 1px 10px 25px #888888;

}

.idBtnGeneral {
    background: green;
    color: white;
    margin-top: -10px;
}


.idBtnHabitation {
    background: green;
    color: white;
}

