
  
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Novidades</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        Bem vindo(a) ao novo painel administrativo! <hr>

        <p style="font-family: Gotham light;">
            A motivação do projeto Nexum é e sempre foi trazer qualidade de vida e paz para aqueles que 
            mais precisam, e para os administradores do Nexum System não seria diferente! Dito isso, trouxemos
            algumas novidades bem legais:
        </p>

        <p>
            • Design atualizado <br>
            • Perfil de administrador <br>
            • Novas sessões de controle de imigrantes
        </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Entendi</button>
        </div>
      </div>
    </div>
  </div>